@font-face {
	/* Reference name */
	font-family: 'Eiko';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/PPEiko-Heavy.otf'), url('/fonts/PPEiko-Medium.otf'),
		url('/fonts/PPEiko-Thin.otf');
}

/*place global styles here */
html,
body {
	@apply h-full;
}
